body{
   background:url("./images/bg-login-somagestao-web.svg") no-repeat center fixed;
   background-size: cover;
}

.general{
   max-width: 470px;
   background: #fff;
   height: 100vh; /*vh = Viewport Height, ou seja Altura da Janela*/
   box-shadow: 0px 0px 20px rgb(179, 179, 179);
}

.generalLogin{
   text-align: center;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -100px;
}

.generalForms{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.imageHeader,img{
   width: 100%;
   margin-bottom: 20px;
}

img.light-shadow{
   filter: drop-shadow(10px 5px 20px rgba(126, 126, 126, 0.767));
}

.textHeader,h2{
   font-size: 28px;
   text-shadow: 5px 2px 10px rgba(151, 151, 151, 0.836);
}

.inputDiv{
   width: 300px;
   justify-content: center;
}

.inputCod{
   background: transparent;
   border: 1px solid rgba(5, 163, 0, 0.863);
   border-radius: 10px 0px 10px 0px;
   font-weight: 200;
   font-size: 15px;
   padding: 8px 10px 8px 10px;
   margin-top: 30px;
   margin-bottom: 20px;
}

.inputPass{
   background: transparent;
   border: 1px solid rgba(5, 163, 0, 0.863);
   border-radius: 0px 10px 0px 10px;
   font-weight: 200;
   font-size: 15px;
   padding: 8px 10px 8px 10px;
   margin-bottom: 20px;
}

.buttonEnter{
   width: 300px;
   border-radius: 10px 0px 10px 0px;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   background: rgb(67, 163, 58);
}

span.error{
   display: flex;
   flex-direction: column;
   padding: 0px;
   background:rgba(255, 0, 0, 0.2);
   border: 1px solid red;
}

span.error.active{
   border: 1px solid rgb(255, 50, 50);
   padding: 0.4em;
}